[core]
	pager = less -FRX
[advice]
	addIgnoreFile = false
	addIgnoredFile = false
[push]
  autoSetupRemote = true
[pull]
	rebase = true
[alias]
	ss = status --short --untracked-files=all
	sw = switch
	l = log -7 --graph --pretty=format:\"%C(auto)%h%d%Creset %s %C(green)%cn%Creset %C(cyan)(%cr)%Creset\"
	last = l -1
	co = checkout
	c = commit --verbose
	b = branch
	p = push
	pl = pull
	br = for-each-ref refs/remotes/ --sort=authorname --sort=-authordate --format="%(refname:short) %(authorname) (%(authordate:relative))"
	branches = "!git branch && git branch --remote"
	puoh = push -u origin HEAD
	aa = add --all
	aac = "!git add --all && git commit --verbose"
	aacp = "!git add --all && git commit --verbose && git push"
	aacpf = "!git add --all && git commit --verbose && git push --force-with-lease"
	wt = worktree
	fpa = fetch --prune --all
	pf = push --force-with-lease
	ca = commit --amend --verbose
	aaca = "!git add --all && git commit --amend --verbose"
	cane = commit --amend --no-edit --verbose
	aac = "!git add --all && git commit --verbose"
	aacane = "!git add --all && git commit --amend --no-edit --verbose"
	canep = "!git commit --amend --no-edit && git push"
	canepf = "!git commit --amend --no-edit && git push --force-with-lease"
	aacapf = "!git add --all && git commit --amend --verbose && git push --force-with-lease"
	aacanepf = "!git add --all && git commit --amend --no-edit --verbose && git push --force-with-lease"
	cp = "!git commit --verbose && git push"
	aacp = "!git add -all && git commit --verbose && git push"
	aacpf = "!git add -all && git commit --verbose && git push --force-with-lease"
	wt = worktree
	co = checkout
	smfe = submodule foreach
	skipped = !git ls-files -v | grep \"^S\"
	skip = update-index --skip-worktree
	no-skip = update-index --no-skip-worktree
	crime = log --all --numstat --date=short --pretty=format:--%h--%ad--%aN
