[core]
	pager = less -FRX
	editor = vim
[advice]
	addIgnoreFile = false
	addIgnoredFile = false
[alias]
	ss = status --short
	ssufa = status --short --untracked-files=all
	l = log -7 --graph --pretty=format:\"%C(auto)%h%d%Creset %s %C(green)%cn%Creset %C(cyan)(%cr)%Creset\"
	last = l -1
	co = checkout
	c = commit
	cm = commit --message
	p = push
	puoh = push -u origin HEAD
	aa = add --all
	wt = worktree
	fpa = fetch --prune --all
	pfwl = push --force-with-lease
	ca = commit --amend
	aaca = "!git add --all && git commit --amend"
	cane = commit --amend --no-edit
	aacm = "!git add --all && git commit --message"
	aacane = "!git add --all && git commit --amend --no-edit"
	canep = "!git commit --amend --no-edit && git push"
	canepfwl = "!git commit --amend --no-edit && git push --force-with-lease"
	aacapfwl = "!git add --all && git commit --amend && git push --force-with-lease"
	aacanepfwl = "!git add --all && git commit --amend --no-edit && git push --force-with-lease"
	cp = "!git commit && git push"
	aacp = "!git add -all && git commit && git push"
	aacpfwl = "!git add -all && git commit && git push --force-with-lease"
	wt = worktree
	co = checkout
	smfe = submodule foreach
	skipped = !git ls-files -v | grep \"^S\"
	skip = update-index --skip-worktree
	no-skip = update-index --no-skip-worktree
	br = for-each-ref refs/remotes/ --sort=authorname --sort=-authordate --format="%(refname:short) %(authorname) (%(authordate:relative))"
	crime = log --all --numstat --date=short --pretty=format:--%h--%ad--%aN
